<p id="notice"><%= notice %></p>

<p>
  <strong>User nick name:</strong>
  <%= current_user.nick_name %>
</p>

<p>
  <strong>User email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>User gender:</strong>
  <%= current_user.gender %>
</p>

<p>
  <strong>User birthday:</strong>
  <%= current_user.birthday %>
</p>

<p>
  <strong>User picture:</strong>
</p>

<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', edit_user_registration_path %>
