<p id="notice"><%= notice %></p>

<div class="about-institute content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <img src="https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg" class="img-preview img-responsive" alt="about-2">  
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="about-text">
                    <!-- title -->
                    <div class="main-title-2">
                        <h1><%= current_user.nick_name %></h1>
                    </div>
                    <p>
                      <strong>Email:</strong>
                      <%= current_user.email %>
                    </p>
                    
                    <p>
                      <strong>Gender:</strong>
                      Male
                    </p>
                    
                    <p>
                      <strong>Birthday:</strong>
                      <%= current_user.birthday %>
                    </p>
                    <!--<%= link_to 'Edit profile', edit_user_registration_path(@user), class: "btn btn-sm btn-theme" %>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Institute end -->
