<%= form_for(@hotel) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% @hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Sub banner start -->
  <div class="sub-banner overview-bgi">
    <div class="container">
      <div class="breadcrumb-area">
        <h1>Hotel Detail</h1>
        <ul class="breadcrumbs">
          <li><a href="index.html">Home</a></li>
          <li class="active">Hotel Detail</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Sub Banner end -->
  <div class="contact-bg overview-bgi">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Form content box start -->
          <div class="form-content-box">
            <!-- logo -->
            <!-- details -->
            <div class="details">
              <div class="form-group">
                <%= f.label :hotel_name %><br>
                <%= f.text_field :hotel_name %>
              </div>
              <div class="form-group">
                <%= f.label :hotel_address %><br>
                <%= f.text_field :hotel_address %>
              </div>
              <div class="form-group">
                <%= f.label :hotel_phone_number %><br>
                <%= f.text_field :hotel_phone_number %>
              </div>
              <div class="form-group">
                <%= f.label :hotel_pr %><br>
                <%= f.text_field :hotel_pr %>
              </div>
              <div class="form-group">
                <%= f.label :hotel_owner %><br>
                <%= f.text_field :hotel_owner %>
              </div>
              <div>
                 <%= f.text_field :user_id, required: true, class: 'hidden form-control', value:current_user.id %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
<% end %>
</div>
</div>
<!-- Form content box end -->
</div>
</div>
</div>
</div>
<!-- Footer start -->
<footer class="main-footer clearfix">
  <div class="container">
    <!-- Footer info-->
    <div class="footer-info">
      <div class="row">
        <!-- About us -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="main-title-2">
              <h1>FINDING NEMO</h1>
            </div>
            <p></p>
          </div>
        </div>
        <!-- Contact Us -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="main-title-2">
              <h1>Contact Us</h1>
            </div>
            <ul class="personal-info">
              <li>
                <i class="fa fa-map-marker"></i>
                Address: No 1 Dai Co Viet Street
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                Email:<a href="mailto:sales@hotelempire.com">javateam@gmail.com</a>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                Phone: <a href="tel:+55-417-634-7071">0123456789</a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <ul class="social-list">
              <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
              <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end -->