<!-- Banner start -->
<div class="banner banner-style-3 banner-max-height">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <%= image_tag("banner/banner-slider-3.jpg", alt: "banner-slider-3")%>
                <div class="carousel-caption banner-slider-inner banner-top-align">
                    <div class="banner-content banner-content-left text-left">
                        <h1 data-animation="animated fadeInDown delay-05s"><span>Welcome to</span> Finding Nemo</h1>
                        <p data-animation="animated fadeInUp delay-1s">Find your hotel and rating <br/>Easy to use</p>
                      <%= link_to "Register New Hotel", new_hotel_path() , :class=>"btn btn-md btn-theme" %>
                    </div>
                </div>
            </div>
            <div class="item">
                <%= image_tag("banner/banner-slider-2.jpg", alt: "banner-slider-2")%>
                <div class="carousel-caption banner-slider-inner banner-top-align">
                    <div class="banner-content banner-content-left text-left">
                        <h1 data-animation="animated fadeInLeft delay-05s"><span>Best Place To</span> Rating Hotel</h1>
                        <p data-animation="animated fadeInUp delay-05s">Truth review <br/> Lorem ipsum dolor sit amet, conconsectetuer</p>
                         <%= link_to "Get Started Now", new_hotel_path() , :class=>"btn btn-md btn-theme" %>
                    </div>
                </div>
            </div>
            <div class="item">
                <%= image_tag("banner/banner-slider-1.jpg", alt: "banner-slider-1")%>
                <div class="carousel-caption banner-slider-inner banner-top-align">
                    <div class="banner-content banner-content-left text-left">
                        <h1 data-animation="animated fadeInLeft delay-05s"><span>Best Place</span> To Find Hotel</h1>
                        <p data-animation="animated fadeInLeft delay-1s">Easiest finding <br/> elit Lorem ipsum dolor sit amet, conconsectetuer</p>
                      <%= link_to "Get Started Now", new_hotel_path() , :class=>"btn btn-md btn-theme" %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
            <span class="sr-only">Next</span>
        </a>

        <!-- Search area box start -->

        <div class="search-area-box-3 hidden-xs hidden-sm">
            <div class="search-contents">
              <%= search_form_for @q do |f| %>
                <div class="col-lg-12 col-pad col-pad-2">
                    <div class="search-your-rooms">
                        <h2 class="hidden-xs hidden-sm">Search Your <span>Hotel</span></h2>
                    </div>
                </div>
                <div class="search-your-details">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                          <%= f.search_field :hotel_name_cont ,
                            class: "btn-default search-fields",
                            placeholder: "Hotel Name" %>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <div class="form-group">
                              <select class="btn-default search-fields form-control-2" name="adults">
                                  <option>Rating Star</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <%= f.search_field :hotel_address_cont,
                              class: "btn-default",
                              placeholder: "Hotel Address" %>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <div class="form-group">
                            <%= button_tag "Search", :class => 'search-button btn-theme',:name => nil%>
                          </div>
                      </div>
                    </div>
                </div>
              <% end %>
            </div>
        </div>
                  
        <!-- Search area box end -->
      </div>
  </div>
<!-- Banner end -->

<!-- Hotel section start -->
<div class="content-area-2 hotel-section">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <h1><span>Our</span> Best Hotels</h1>
      <p>These best hotels chosen by our customers</p>
    </div>
    <div class="row">
      <% @hotels.each do |hotel| %>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="hotel-box-list-2 clearfix">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-pad">
            <%= image_tag(hotel.hotel_pictures.first.image_url, alt: "img-9", class: "img-responsive")%>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 detail">
            <div class="heading">
              <div class="title">
                <h3>
                  <a href="/hotels/<%= hotel.id %>"><%= hotel.hotel_name %></a>
                </h3>
              </div>
            </div>
            <p><%= hotel.hotel_pr %></p>
            <p>Address : <%= hotel.hotel_address %></p>
            <a href="/hotels/<%= hotel.id %>" class="read-more-btn">View Details</a>
          </div>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
          <div class="digg_pagination">
            <%= will_paginate @hotels %>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- Hotel section end -->
