<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Hotel Detail</h1>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li class="active">Hotel Detail</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<% flash.each do |key, value| %>
    <div role="alert" id="my-alert" class="alert alert-<%= key %>"><%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
<% end %>

<!-- Rooms detail section start -->
<div class="content-area rooms-detail-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <!-- Heading courses start -->
                <div class="heading-rooms  clearfix sidebar-widget">
                        <span>
                            <h3><%= @hotel.hotel_name %></h3>
                            <h4>Score: <%= @avg %></h4>
                            <%= social_share_button_tag('Share to Facebook',desc: @hotel.hotel_name) %>
                            <% if @hotel.user == current_user %>
                                <%= link_to 'Edit', edit_hotel_path(@hotel) %>|
                            <% end %>
                            <%= link_to 'Add Room', new_room_path(hotel_id: @hotel.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-room-window'}  %>
                            <div id="modal-room-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content"></div>
                              </div>
                            </div>
                        </span>
                        <p>
                            <i class="fa fa-map-marker"></i><%= @hotel.hotel_address %>
                        </p>
                        <h4>Hot line: <%= @hotel.hotel_phone_number %></h4>
<!--                        <h4>Price: <%#= @hotel.hotel_price %> VND</h4>-->
                </div>
                <!-- Heading courses end -->
                <!-- sidebar start -->
                <div class="rooms-detail-slider sidebar-widget">
                    <!--  Rooms detail slider start -->
                    <div class="rooms-detail-slider simple-slider mb-40 ">
                        <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                            <div class="carousel-outer">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                        <% @hotel.hotel_pictures.all.each do |p| %>
                                        
                                        <% if p == @hotel.hotel_pictures.last %>
                                        <div class="item active">
                                        <% if p.image_url == nil %>
                                        <%= image_tag p.picture_link %>
                                        <% else %>
                                        <%= image_tag p.image_url %>
                                        <% end%>
                                        </div>
                                        <% else %>
                                        
                                        <div class="item">
                                        <% if p.image_url == nil %>
                                        <%= image_tag p.picture_link %>
                                        <% else %>
                                        <%= image_tag p.image_url %>
                                        <% end%>
                                        </div>
                                        <% end %>
                                <% end %>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-custom" role="button" data-slide="prev">
                                    <span class="slider-mover-left t-slider-l" aria-hidden="true">
                                        <i class="fa fa-angle-left"></i>
                                    </span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-custom" role="button" data-slide="next">
                                    <span class="slider-mover-right t-slider-r" aria-hidden="true">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!-- Indicators 
                            <ol class="carousel-indicators thumbs visible-lg visible-md">
                                <li data-target="#carousel-custom" data-slide-to="0" class=""><%= image_tag @hotel.hotel_pictures.first.picture_link %></li>
                                <li data-target="#carousel-custom" data-slide-to="1" class=""><%= image_tag("room/big-img-3.jpg", alt: "big-img-3") %></li>
                                <li data-target="#carousel-custom" data-slide-to="2" class=""><%= image_tag("room/big-img-3.jpg", alt: "big-img-3") %></li>
                                <li data-target="#carousel-custom" data-slide-to="3" class=""><%= image_tag("room/big-img-3.jpg", alt: "big-img-3") %></li>
                                <li data-target="#carousel-custom" data-slide-to="4" class=""><%= image_tag("room/big-img-3.jpg", alt: "big-img-3") %></li>
                                <li data-target="#carousel-custom" data-slide-to="5" class=""><%= image_tag("room/big-img-3.jpg", alt: "big-img-3") %></li>
                                <li data-target="#carousel-custom" data-slide-to="6" class=""><%= image_tag("room/big-img-3.jpg", alt: "big-img-3") %></li>
                            </ol>
                        </div>
                    </div>-->
                    <!-- Rooms detail slider end -->

                    <!-- Rooms description start -->
                    <div class="panel-box course-panel-box course-description">
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1default">
                                        <div class="divv">
                                            <!-- Title -->
                                            <h3>Hotel Description</h3>
                                            <!-- paragraph -->
                                            <p><%= @hotel.hotel_pr %></p>
                                        </div>
                                                                
                                        <!-- Rooms section start -->
                                        <div class="divv">
                                            <!-- Title -->
                                            <h3>We have many rooms</h3>
                                            
                                            <ul class="comments list-group list-group-flush">
                                                <%= render "hotels/hotel_room" %>
                                            </ul>
                                        </div>
                                        <!-- Rooms section end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Rooms description end -->
                </div>
                <!-- sidebar end -->

                <!-- Comments section start -->
                <div class="comments-section sidebar-widget">
                    <!-- Main Title 2 -->
                    <div class="main-title-2">
                        <h1><span>Hotel </span> Reviews</h1>
                    </div>

                    <ul class="comments list-group list-group-flush">
                        <%= render "hotels/hotel_comment" %>
                    </ul>
                </div>
                <!-- Comments section end -->
                <%= link_to 'Comment', new_hotel_review_path(hotel_id: @hotel.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-md btn-theme'}  %>
                <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                  </div>
                </div>
            </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rooms detail section end -->
